#App {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  background-image: url("./images/bg-with-noise.png");
}

#App__wrap {
  width: 1000px;
  align-items: center;
}

.main-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #fff;
}